body
{
  background: #000000;
color: #C0C0C0;
background-attachment: fixed;
background-repeat: round;
}
p
{padding: 0 0;
font-family: Arial,sans-serif;
vertical-align: top;
font-size: 50px;}
h1
{padding: 0 0;
font-family: Arial,sans-serif;
font-size: 50px;}
h2
{padding: 0 0;
font-family: Arial,sans-serif;
vertical-align: top;
font-size: 50px;}
img
{padding: 0 0; vertical-align: left; margin-left: 0%;}
video
{
  margin-left: 0%
}
.tablica{text-align: top;}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 3, color1: '0D0C0C', color2: 'F0E2E2', color3: '46B63C'}, -153306196);
</script>

.footer
{
background: #e2ed9c;
}
.copyright {
 width: 740px; /* Ширина макета без полей */
 padding: 0 10px 10px; /* Поля */
 margin: center; /* Выравнивание по центру */
 color: #efefef; /* Цвет текста */
}
.copyright{
 margin: 0 0 5px 170px; /* Отступы текста */
}
